[Unit]
Description=Kong API Gateway
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/kong start
ExecStop=/usr/local/bin/kong stop
Restart=on-failure

[Install]
WantedBy=default.target
